<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Welcome</title>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#"><div class="logo"><i class="fa fa-clone"></i> Cardify</div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Create Account</a>
          </li>

        </ul>
      </div>
      <a class="navbar-brand" href="/admin_login">admin login</a>
    </nav>
  </header>
  <div class="wrapper2">
    <div class="banner">
        <div class="headline">
          Organize Your Life
        </div>
        <div class="sub-headline">
          Work or Play. Organize Anything.
        </div>
        <div class="index-buttons">
          <a href="/register"><button class="btn btn-primary" type="button" name="button">Register</button></a><a href="/login"><button class="btn btn-primary" type="button" name="button">Login</button></a>
        </div>

    </div>

    <!--div class="section1">
      <div class="row">
        <div class="col-md-6">
          Picture
        </div>
        <div class="col-md-6">
          Content
        </div>
      </div>
    </div>

    <div class="section2">
      <hr>
      <div class="row">
        <div class="col-md-6">
          Content
        </div>
        <div class="col-md-6">
          Picture
        </div>
      </div>
    </div-->






  </div><!--end wrapper div-->


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
